@model DesafioH.Modelos.Usuario

@{
    ViewData["Title"] = "Detalle de Usuario";
}

<h1>@ViewData["Title"]</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Editar</a>
    <a asp-action="Index" class="btn btn-link">Volver al listado</a>
</p>
